.products-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1.75rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 4rem;
}

.product-card {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(247, 247, 247);
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.product-image {
  width: 112px;
  height: 112px;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 30%;
  transition: transform 300ms ease;
}

.product-image:hover {
  transform: scale(1.1) rotate(-2deg);

}
