.footer {
  width: 100%;
  background-color: red;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  z-index: 40;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  color: black;
  font-weight: bold;
}


